<?xml version="1.0"?>
<launch>
    
  <rosparam file="$(find robotic_arm_pkg)/config/controllers.yaml" command="load"/>
   
  

  <node name="robot_hardware_interface" pkg="robotic_arm_pkg" type="robot_hardware_interface" output="screen"/>

  
  
  <node name="rviz" pkg="rviz" type="rviz"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robotic_arm_pkg)/urdf/arm_meshed.urdf'"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen" ns="/arm_mesh"
            args="--namespace=/arm_mesh
            joint_state_controller
            joint1_position_controller
            joint2_position_controller
            joint3_position_controller
            joint4_position_controller
            gripperbase_position_controller
            
            

            ">
  </node>


</launch>
