<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robotic_arm_pkg)/urdf/arm_meshed.urdf'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args = " -d $(find robotic_arm_pkg)/launch/arm_config.rviz"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="True"/>
    </node>

    
  <include file="$(find gazebo_elements)/launch/robotic_arm_world.launch" /> 

    <!--<node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model arm_mesh" />
    -->
    
   

    <rosparam command = "load" file = "$(find robotic_arm_pkg)/config/controllers.yaml"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen" ns="/arm_mesh"
            args="--namespace=/arm_mesh
            joint_state_controller
            joint1_position_controller
            joint2_position_controller
            joint3_position_controller
            joint4_position_controller
            gripperbase_position_controller
            
            

            ">
  </node>

	



          
</launch>