<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="cat '$(find robotic_arm_pkg)/urdf/arm_meshed.urdf'" />
    
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model arm_mesh" />

    <rosparam command = "load" file = "$(find robotic_arm_pkg)/config/controllers.yaml"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen" ns="/arm_mesh"
            args="--namespace=/arm_mesh
            joint_state_controller
            joint1_position_controller
            joint2_position_controller
            joint3_position_controller
            joint4_position_controller
            gripperbase_position_controller
            gripperL_position_controller
            ">
        	</node>

	<node name ="rqt_reconfigure" pkg ="rqt_reconfigure" type="rqt_reconfigure"/>
	<node name ="rqt_publisher" pkg ="rqt_publisher" type="rqt_publisher"/>



          
</launch>